body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.navbar-inverse {
    background-color: #f50707;
    border-color: #f50707;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #dc1111;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.nav .notifications {
    position: relative;    
}

    .nav .notifications .badge {
        position: absolute;
        top: 8px;
        right: -1px;
        background: #a80a0a;
    }

ul.notification
{
    list-style: none;
        padding-left: 0;
        width : 300px;
}

.popover-content {
    padding: 9px 14px;
    color: #4a0808;
}

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #a01d1d;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}
